:root {
  --brand-font: "Rubik", "Open Sans", sans-serif;
  --lightgrey: #d8d8d8;
  --gunmetal: #54585a;
  --silver: #bfcdd0;
  --blue-green: #40daf1;
  --grass-green: #03a400;
  --lemon-yellow: #dae55f;
  --morty-hair: #dbdff8;
  --rick-hair: #9e2a02;
}
